        
@charset "UTF*8";
        body{
            background-color: rgb(208, 172, 240);
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }

        h1{
            color: white;
        }

        h2{
            color: cyan;
        }

        p{
            text-align: justify;
        }